<div style="position:relative;">
  <%= image_tag 'food.png', size: "1000x500" %>
  <div style="position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);color:orange;">

    <p style="font-weight: bold; font-size: 30px;">
      KUIROGUとは皆様が食べた美味しいものを投稿するSNSサイトです。
      甘いものから辛いものまで、食べれるものを
      誰かに教えたいと思ったら、
      好きなように投稿してみてください。
      さっそく投稿してみましょう！
    </p>

  </div>
</div>