@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
.posting-image {
    height: 300px;
    width: 300px;
    padding-right: 15px;
}

.btn {
  background: linear-gradient(to bottom, #ff6c00, #ff8500);
  border-radius: 30px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.btn:hover {
  background: linear-gradient(to bottom, #ff8500, #ff6c00);
}

.btn-destroy {
  background: linear-gradient(to bottom, gray, lightgray);
  border-radius: 30px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.btn-follow {
  background: linear-gradient(to bottom, #f5f5f5, #dcdcdc);
  border-radius: 30px;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.btn-try {
  background: linear-gradient(to bottom, #e9967a, #ffa500);
  border-radius: 30px;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease;
}


nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: orange;
}

.container-fluid {
  padding-top: 70px;
}

.col-3 {
  position: fixed;
  top: 70px;
  bottom: 0;
  overflow-y: auto;
  background-color: orange;
  color: #fff;
}

.col-9 {
  margin-left: 24%;
}

li::marker{
  color: orange;
}


@media screen and (max-width:750px) {
  
  
  
}